@charset "UTF-8";

:root{
    --cor01: #000080;
    --cor02: #191970;
    --cor03: #7979b5a3;
    --cor04: #333333;
    --cor05: #FFFF00 ;

    --font01: 'Poppins', sans-serif;
    --font02: 'Raleway', sans-serif;
    --font03: 'Ubuntu', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}


header > nav > ul{
   list-style-type: none;
   margin-top: 10px;
   
}
header > nav > ul.cabeçalho{
    background-color: var(--cor02);
    color: white;
    font-size: 1.5em;
    text-decoration: underline;
    
}
#itens{
    display: none;
}

.top-list{
    display: inline;
    margin-right: 25vw;
}
header > nav > ul > li{
    text-align: center;
   
}
header > nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: var(--font01);
    color: white;
    
}
#logo-azul{
    width: 150px;
    padding: 20px;
    
}
section{
    font-family: var(--font02);
    color: var(--cor02);
    margin-top: 5em;
}
section > h1{
    font-size: 2em;
    margin: 20px;
    visibility: hidden;
}

section > p{
    margin-left: 20px;
    width: 70vw;
    line-height: 1.5;
    margin-bottom: 100px;
    font-weight: 500;
}
hr{
    margin-top: 70vh;
    margin-bottom: 20px;
}
footer{
    font-family: var(--font03);
    text-align: center;
}

#dowm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}
.material-symbols-outlined{
    margin: auto;
}
.scroll-button {
    margin: auto;
    padding: 10px 10px;
    background-color: #000080;
    color: #ffffff;
    text-decoration: none;
    border-radius: 2000px;
    box-shadow: 0px 0px 10px var(--cor01);
    transition: background-color 2s ease; 
  }

  
.scroll-button:hover {
    background-color: #1f1f76;
  }

#imagem-index{
    background: var(--cor02) url(../imagens/aviao-ar.png) no-repeat ;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 200px;
    margin-top: 40px;
}
div.janela-aviao{
    background: var(--cor01) no-repeat center top fixed;
    background-size: cover;
    width: 90px;
    height: 130px;
    margin-left: 9px;
    margin-top: 20px;
    border-radius: 50px;
    border: 10px solid rgb(187, 187, 187);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.571);
    transition: width  1s, height 1s;
    transition-timing-function: ease;
}
ul#voos > li > div#lisboa{
    background: url(../imagens/lisboa.jpg) no-repeat center bottom ;
    background-size: cover;

}
ul#voos > li > div#riodejaneiro{
    background: url(../imagens/riodejaneiro.webp) no-repeat center center;
    background-size: cover;

}
div#miami{
    background: url(../imagens/miami.jpg) no-repeat center right;
    background-size: cover;

}

ul#voos > li > div#buenosaires{
    background: url(../imagens/buenosaires.jpg) no-repeat center center;
    background-size: cover;
    display: none;
}
ul#voos > li > div#orlando{
    background: url(../imagens/orlando.jpg) no-repeat center center;
    background-size: cover;
    display: none;
}
ul#voos > li > div#salvador{
    background: url(../imagens/sao_paulo.jpg) no-repeat center center;
    background-size: cover;
    display: none;
}
ul#voos > li {
    display: inline-block;
    
}
ul{
    margin: auto;
}
article#fundo-aviao{
    background: rgba(233, 231, 231, 0.508);
    background-size: contain;
    border-radius: 20px;
}
#imagem-ceu{
    background: var(--cor02) url(../imagens/céu.jpg) no-repeat ;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 400px;
    margin-top: 40px;
}
 a > p {
    text-align: center;

    color: white;
    background-color: var(--cor01);
    padding: 10px;
    width: 50px;
    margin: auto;
    margin-top: 40px;
    border-radius: 60px;
}
@media print {
    body{
        font-family: 'Courier New', Courier, monospace;
      
    }
   
    main h1{
        text-shadow: none;
        color: black;
        border: 1px solid black;
    }
    main::after{
        content: "Essa impressão foi feita atraves do site ";
        text-decoration: overline;
    }
}
   

@media  screen and (min-width: 768px){
    body{
        background: url(../imagens/back-tablet.jpg);
    }
   nav#itens{
    display: inline;
    color: var(--cor01);
   }
   header > nav > ul.cabeçalho{
    background-color: white;
    color: var(--cor01);
    font-size: 1.5em;
    text-decoration: none;
    margin-top: -2em;
}

   nav > ul > li{
    display: inline;
    color: var(--cor01);

   }
  
   #hamburguer{
    display: none;
   }
   header > nav > ul > li > a{
    text-decoration: none;
    font-family: var(--font01);
    color: var(--cor01);
    margin-left: 20px;
    font-size: 0.9em;
    position: relative;
}

header > nav > ul > li > a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--cor02);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    box-shadow: 0px -3px 10px var(--cor01);

}
nav a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--cor02);
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0px -3px 10px var(--cor01);
    
}
header > nav > ul > li > a.select::after{
    width: 100%;
    height: 2px;
    box-shadow: 0px -3px 10px var(--cor01);
}


#first{
    margin-left: 140px;
    transition: margin-left 0.2s;
    transition-timing-function: ease-in-out;
}
#logo{
    display: inline;
}
div.janela-aviao{
    width: 150px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 60px;
    border: 10px solid rgb(187, 187, 187);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.571);

    transition: width  1s, height 1s;
    transition-timing-function: ease;
}
ul#voos > li > div#buenosaires{
    background: url(../imagens/buenosaires.jpg) no-repeat center center;
    background-size: cover;
    display: block;

}

}
@media  screen and (min-width: 1025px) and (max-width: 1510px){
    h1{
        font-size: 1.4em;
        
    }
    p{
        font-size: 1.2em;
    }
    #first{
        margin-left: 16em;
    }
    ul#voos > li > div#orlando{
        display: block;
    }
    div.janela-aviao{
        width: 150px;
        height: 200px;
        margin-left: 28px;
        margin-top: 20px;
        border-radius: 60px;
        border: 10px solid rgb(187, 187, 187);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.571);

        transition: width  1s, height 1s;
    transition-timing-function: ease;
    }

}
@media  screen and (min-width: 1386px){
    
    p{
        font-size: 1.2em;
    }
    #first{
        margin-left: 35em;
    }
    ul#voos > li > div#orlando{
        display: block;
    }
    ul#voos > li > div#salvador{
        display: block;
    }
    div.janela-aviao{
        width: 200px;
        height: 300px;
        margin-left: 30px;
        margin-top: 20px;
        border-radius: 90px;
        border: 10px solid rgb(187, 187, 187);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.571);

        transition: width  1s, height 1s;
    transition-timing-function: ease;
    }

}

