@charset "UTF-8";

:root{
    --cor01: #000080;
    --cor02: #191970;
    --cor03: #f8f8f8;
    --cor04: #333333;
    --cor05: #FFFF00 ;

    --font01: 'Poppins', sans-serif;
    --font02: 'Raleway', sans-serif;
    --font03: 'Ubuntu', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}

header{

}
header > nav{
   
}
header > nav > ul{
   list-style-type: none;
   margin-top: 10px;
   
}
header > nav > ul.cabeçalho{
    background-color: var(--cor02);
    color: white;
    font-size: 1.5em;
    text-decoration: underline;
    
}
#itens{
    display: none;
}
header > nav > ul.cabeçalho > li > a{
   
}
.top-list{
    display: inline;
    margin-right: 45vw;
}
header > nav > ul > li{
    text-align: center;
   
}
header > nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: var(--font01);
    color: white;
    
}
#logo-azul{
    width: 150px;
}
section{
    font-family: var(--font02);
    color: var(--cor02);
    margin-top: 5em;
}
section > h1{
    font-size: 2em;
    margin: 20px;
}
section > p{
    margin-left: 20px;
    width: 70vw;
}
hr{
    margin-top: 70vh;
    margin-bottom: 20px;
}
footer{
    font-family: var(--font03);
    text-align: center;
}


.scroll-button {
    margin: 40vw;
    padding: 10px 10px;
    background-color: #000080;
    color: #ffffff;
    text-decoration: none;
    border-radius: 2000px;
    transition: background-color 2s ease;
 
  }

  
  
  .scroll-button:hover {
    background-color: #191970;
  }
  #dowm{
    margin-top: 2em;
  }
